/* Add CSS styling here */
*{
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    background: white;
    border-bottom: 3px solid darkgoldenrod;
    margin-bottom: 2rem;
}

nav{
    display: flex;
    flex-direction: row wrap;
    margin: 0 0 0 5rem;
    align-items: center;
    justify-content: flex-start;
} 

.nav-item{
    display: flex;
    font-size: 1.6rem;
    background: white;
    text-decoration: none;
    color:rgb(70, 66, 66);
    margin: 2rem 0rem;
    width: 12rem;
    height: 4rem;
    align-items: center;
    justify-content: center;

}

.nav-item:hover{
    background: rgb(70, 66, 66);
    color: white;
}

h1{
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color:  gray;
    padding: 2rem 0 1rem 3rem;
    margin: 0;
}

h2{
    font-size: 2.5rem;
    margin: 1rem 0 0 0;
}

.h2-other{
    font-size: 2.5rem;
    margin: 1rem auto 0 auto;    
}

h3{
    font-size: 2rem;
    margin: 2rem 0 00;
}

a, p{
    font-size: 1.6rem;
    width: 90%;
    text-align: justify;
    margin: 1rem 0 0 0;
    text-decoration: none;
    color:rgb(70, 66, 66);
}

.p-projects{
    font-size: 1.6rem;
    width: 50%;
    text-align: justify;
    margin: 1rem auto 0 auto;
    text-decoration: none;
    color:rgb(70, 66, 66);
}

a:hover{
    color:green;
    font-weight: bold;
    animation: button-rotate .2s alternate 2;
}

@keyframes button-rotate{
    from {transform: scale(1);}
    to {transform: scale(1.25);}
}

.button{
    display: flex;
    font-size: 1.6rem;
    background: white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 1%;
    color:rgb(70, 66, 66);
    margin: 2rem 0rem;
    width: 12rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
}

.button:hover{
    background: rgb(70, 66, 66);
    color: white;
}


#hero{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;  
}

#hero div{
    width: 50%;
} 

.hero-image{
    display: block;
    width: 80%;
    height: auto;
    object-fit: contain;
}

.intro-text{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 100%;
}




footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: auto;
    border-top: 3px solid darkgoldenrod;
}

footer div{
    text-align: center;
}

.portfolio{
    display: flex;
    flex-flow: row wrap;
    margin: 2rem 0;
}

.image-caption{
    display: flex;
    flex-flow: column wrap;
    margin: 1rem auto;
}

.image-caption p{
    text-align: center;
}

.image-caption img{
    margin: 0;
    padding: 0;
    object-fit: contain;
    height: auto;
}

footer div a img:hover{
    animation: rotate-img .2s linear;
}

@keyframes rotate-img{
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}

form{
    display: inline-block;
    flex: row nowrap;
    align-items: space-evenly;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: white;
    color: rgb(70, 66, 66);
    width: 70%;
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem auto 1rem auto;
    border-radius: 2rem;
}

label, input, textarea{
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: white;
    color: rgb(70, 66, 66);
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem auto 2rem auto;
    border-radius: 2rem;
}

.about{
    text-align: center;
    margin: 2rem 0;
}

.about p{
    margin: 2rem auto;
    width: 50%;
}

.about img{
    width: 50%;
    object-fit: contain;
}

.videoWrapper iframe{
    margin: 2rem 0;
    width: 50%;
}


ul{
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: left;
    width: 60%;
    margin: 2rem auto;
}

li{
    margin: 1rem auto;
}
